@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito&display=swap");

.Auth {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #f8f9fb;
  .Auth_div-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    background-image: url(https://s3-alpha-sig.figma.com/img/da27/6a28/98383ecadea8be93a5423add86f4ea77?Expires=1590969600&Signature=A3w5XqKvjKbqGfA-PMDzDwyC0WKFq9t1XZBg4rECCLDDtTEO~VLm-elPB9BwL7JMkYdQKkzO1zVHQjeI-P2cgdOqmYh4UWbZ3exqvgyXy7nFBCYNMPVsSXbcDLlJTBXWjkQNM~lay8tBRcYaI41SdG9pxqxdrsEzNkZfSKSEgcdIhG~oOtq5cbYnKAaHFLJhG5wW5uqTKdFLnHDJmERJxKL1kVO3w-ohjVONa4UGb95-2CAy5hgy5jcOGT6JCmGHcaZkhP1fT4EnDlVEH1eL3grzlghLQFbu8Be8CaC28beqA53q~JSH86zpkUmHfVpuFe9pcUPjD7AyCfzmaDzfGQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  }
  .Auth_div-data {
    width: 45vw;
    color: #38415f;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fb;
    .Auth_div-center {
      width: 73%;
      padding-top: 8.5vh;
      .Auth_h2 {
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
      }
      .Auth_h3 {
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 41px;
        text-align: start;
        margin-top: 8.4vh;
        &-reset {
          padding: 0 15px;
          text-align: center;
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 33px;
          margin-bottom: 20px;
        }
      }
      .Auth_form {
        width: 100%;
        display: grid;
        .Auth_div-inputs {
          display: flex;
          justify-content: space-between;
          padding: 0 5vh;
          .Auth_input-reset {
            width: 4.86vw;
            height: 11vh;
            background: #f8f9fb;
            border: 2px solid #808080;
            box-sizing: border-box;
            border-radius: 7.69817px;
          }
        }
        .Auth_label {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-left: 2px;
        }
        .Auth_input {
          width: 100%;
          height: 5.3vh;
          border: 1px solid #646c8c;
          border-radius: 30px;
          padding-left: 20px;
          background: #f8f9fb;
          &-invalid {
            width: 100%;
            height: 5.3vh;
            border: 1px solid #c01111;
            border-radius: 30px;
            padding-left: 20px;
            background: #f8f9fb;
          }
          &-valid {
            width: 100%;
            height: 5.3vh;
            border: 1px solid #26c6da;
            border-radius: 30px;
            padding-left: 20px;
            background: #f8f9fb;
          }
          &-neutro {
            width: 100%;
            height: 5.3vh;
            border: 1px solid #646c8c;
            border-radius: 30px;
            padding-left: 20px;
            background: #f8f9fb;
          }
          &-recovery {
            padding-left: 36px;
            width: 100%;
            height: 5.3vh;
            border-style: none;
            background: #e9ebef;
            border-radius: 130px;
            pointer-events: none;
          }
        }
        .Auth_form-span {
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          margin-top: 8px;
          padding: 0 8px 0 8px;
        }
        .Auth_div-button {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          margin-top: 20px;

          .Auth_button-neutro,
          .Auth_button-invalid {
            width: 171px;
            height: 5.3vh;
            color: white;
            border-style: none;
            background: #646c8c;
            border-radius: 100px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
          .Auth_button-valid {
            width: 171px;
            height: 5.3vh;
            color: white;
            border-style: none;
            background: #26c6da;
            border-radius: 100px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
          }
        }
        .Auth_div-button-password {
          margin-top: 23px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          .Auth_a {
            color: #26c6da;
          }
          .Auth_button-reset{
            width: 20vw;
            height: 37px;
            color: white;
            border-style: none;
            background: #646c8c;
            border-radius: 100px;
          }
          .Auth_button-neutro,
          .Auth_button-invalid{
            width: 171px;
            height: 5.3vh;
            color: white;
            border-style: none;
            background: #646c8c;
            border-radius: 100px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
          .Auth_button-valid {
            width: 171px;
            height: 5.3vh;
            color: white;
            border-style: none;
            background: #26c6da;
            border-radius: 100px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }

    .Auth_div-terms {
      width: 35vw;
      margin-bottom: 8.8vh;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      display: flex;
      align-items: center;
      .logo {
        margin-right: 15px;
      }
      .Auth_h4-terms {
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        .Auth_a {
          color: #26c6da;
        }
      }
    }
  }
  .slide {
    position: absolute;
    right: -600px;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
  }

  @keyframes slide {
    100% {
      right: 0px;
    }
  }
}
